[submodule "COPY_TO_HOME/vimfiles/bundle/vim-snipmate"]
	path = COPY_TO_HOME/vimfiles/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "COPY_TO_HOME/vimfiles/bundle/tlib_vim"]
	path = COPY_TO_HOME/vimfiles/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "COPY_TO_HOME/vimfiles/bundle/vim-addon-mw-utils"]
	path = COPY_TO_HOME/vimfiles/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "COPY_TO_HOME/vimfiles/bundle/snipmate-snippets"]
	path = COPY_TO_HOME/vimfiles/bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
